.background {
  viewport-fill: black;
  font-family: "System-Regular";
  font-size: 40;
}

.button {
  height: 20%;
  width: 25%;
}

.operand {
  fill: fb-red;
}

.operation {
  fill: fb-blue;
}

.output {
  x: 100%;
  width: 100%;
  height: 10%;
  fill: white;
  font-family: "System-Light";
  text-anchor: end;
}

#equation {
  font-size: 25;
  y: 20%;
  text-length: 23;
}

#calculatorResult {
  font-size: 40;
  y: 40;
  text-length: 6;
}

#diceResult {
  font-size: 80;
  fill: white;
  y: 50%;
  x: 50%;
  width: 100%;
  height: 50%;
  text-anchor: middle;
  text-length: 3;
}

.tile-list-item {
  font-family: System-Regular;
  fill: white;
  height: 60;
}

.tile-list-item text {
  text-length: 50;
}

.rollItem-heading {
  font-family: System-Bold;
}

.rollItem-name {
  y: 100%-30;
  font-size: 30;
}

.rollItem-roll {
  y: 100%-10;
  font-size: 20;
}
